<section id="archiveContainer" class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="post-feed">
                <div class="panel-group" id="accordian">
                    
                    <% @grouped_posts.each_with_index do |(date, group), index| %>
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>"><%= date %> <small>(<%= group.length %> posts)</small></a>
                                </h4>
                            </div>
                            <div id="collapse<%= index %>" class="panel-collapse collapse">
                                <% group.each do |post| %>
                                <div class="panel-body">
                                    <div class="content">
                                        <a href="<%= post.path %>"><h5><%= post.title %> <small>(<%= post.publishedDate %>)</small></h5></a>
                                        <div><%= post.summary %></div>
                                    </div>
                                    <a href="<%= post.path %>"><small class="read-more-link">read more...</small></a>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>

                </div>
            </div>
        </div>
        <div class="column-right hidden-xs hidden-sm col-md-3">
            <%= render partial: 'shared/rightColumn' %>
        </div>
    </div>
</section>