<section id="postContainer" class="container">
    <div class="row">
        <div class="post col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1">
            <div class="post-header">
                <h4><%= @post.title %></h4>
                <em><%= @post.publishedDate %></em>
            </div>
            <div class="post-content">
                <%= @post.content %>
            </div>
            <div class="post-social">
                <a href="https://www.facebook.com/dialog/share?app_id=622972777808767&display=popup&href=<%= request.url %>&redirect_uri=<%= request.url %>" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?text=<%= @post.title %>&via=fancythingsblog&url=<%= request.url %>" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://pinterest.com/pin/create/button/?url=<%= request.url %>&description=<%= @post.title %>" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="https://plus.google.com/share?url=<%= request.url %>" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="mailto:?body=I thought you might enjoy reading this post called <%= @post.title %> on fancy things! <%= request.url %>"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="post-footer">
                <ul class="ft-sig">
                    <li class="divider hidden-xs"><hr /></li>
                    <li><%= image_tag 'logo250x250.png' %></li>
                    <li class="divider hidden-xs"><hr /></li>
                </ul>
            </div>
            <div class="post-comments">
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>

        <div class="related-posts col-xs-12 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
            <div class="widget">
                <h5>You might also like... <i class="fa fa-caret-down"></i></h5>
                <% @relatedPosts.each do |post| %>  
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="<%= post.path %>">
                                <img class="image rounded" src="<%= post.thumbnailUrl %>" alt="post thumbnail"/>
                            </a>
                            <a href="<%= post.path %>"><h5><%= post.title %></h5></a>
                            <em><%= post.publishedDate %></em>
                        </div>
                    </div>
                <% end %>  
            </div>
        </div>
    </div>
</section>

<script>
    //load disqus comments. doesnt work when in blogpost.js for some reason
    var disqus_shortname = 'fancythingsblog';
    var disqus_title = "<%= @post.title %>";
    var disqus_url = "<%= @post.blogger_url %>";

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
</script>

<script>
    FB.ui({
      method: 'share',
      href: window.location.href,
    }, function(response){});
</script>

<%= javascript_include_tag 'blogpost' %>