<section id="searchContainer" class="container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="search-description">
                <% if @posts %>
                <h4>Top search results for: <%= @searchKey %></h4> (<%= @posts.length %> results)
                <% else %>
                <h4>No results found for: <%= @searchKey %></h4>
                <% end %>
                
                <hr />
            </div>
            <div class="post-feed">

                <% if @posts %>
                <% @posts.each do |post| %>
                <div class="panel panel-default post">
                    <div class="panel-body">
                        <div class="content">
                            <a href="<%= post.path %>"><h5><%= post.title %></h5></a>
                            <div><small><%= post.publishedDate %> - </small> <%= post.summary %></div>
                        </div>
                        <a href="<%= post.path %>"><small class="read-more-link">read more...</small></a>
                    </div>
                </div>
                <% end %>
                <% end %>

                <div class="archive">
                    <span>Didn't find what you're looking for?</span><span>Try the <a href="../archive.html">Archive</a> instead!</span>
                </div>
            </div>
        </div>
        <div class="column-right hidden-xs hidden-sm col-md-3">
            <%= render partial: 'shared/rightColumn' %>
        </div>
    </div>
</section>