<%= render 'shared/head' %>
<html>
    <head>
        <%= yield :head %>
    </head>
    <body>
        <div class="container-fluid" role="main">
            <%= render 'shared/navbar' %>
            <%= yield %>
            <%= render 'shared/footer' %>
        </div>
    </body>
</html>