<html>
<head>
	<title><%= @title %></title>
	<meta charset="utf-8N" />
	<meta http-equiv="Content-language" content="en">
	<meta name="author" content="Kristin Brophy" />
	<meta name="keywords" content="Fashion,Food,Beauty,Style,Home,Blog,Fancy,Life,Miami,South,Florida,FancyThings,TheFancyThings">
	<meta name="description" content="<%= @description %>">

	<link href="/assets/logo32x32.png" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="initial-scale=1" />

	<meta property="og:site_name" content="Fancy Things">
	<meta property="og:description" content="<%= @description %>">
	<meta property="og:title" content="<%= @title %>" />
    <meta property="og:url" content="<%= request.original_url %>">
	<meta property="fb:app_id" content="622972777808767">

	<meta property="og:image" content="http://2.bp.blogspot.com/-5fsQgeoZrtI/VMHSTzJGryI/AAAAAAAALNU/tsq8FMno7Hs/s1600/_DSC0108.jpg" />
	<meta property="og:image" content="http://3.bp.blogspot.com/-TaaJKNMDzYY/VLwhVX1A8JI/AAAAAAAALMA/czATY0GeatA/s1600/_DSC0182.jpg" />

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@fancythingsblog">
	<meta name="twitter:url" content="<%= request.original_url %>">
	<meta name="twitter:title" content="<%= @title %>">
	<meta name="twitter:description" content="<%= @description %>">
	<meta name="twitter:image" content="<%= @ogImage %>">
	<meta name="twitter:creator" content="@fancythingsblog">

	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'jquery.leanModal.min' %>

	<%= javascript_include_tag 'bootstrap.min'%>
	<%= stylesheet_link_tag 'bootstrap/_styles'%>

	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid" role="main">
		<%= render 'shared/navbar' %>
		<%= yield %>
		<%= render 'shared/footer' %>
	</div>
	
	<%= javascript_include_tag "main" %>	
</body>
</html>