<html>
<head>
	<title>Fancy Things - A Miami Based Fashion and Lifestyle Website by Kristin Brophy</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-language" content="en">
	<meta name="author" content="Kristin Brophy" />
	<meta name="keywords" content="Fashion,Food,Beauty,Style,Home,Blog,Fancy,Life,Miami,South,Florida,FancyThings,TheFancyThings">
	<meta name="description" content="Welcome to Fancy Things! The number one guide to fashion, beauty, home decor, and more...">

	<link href="/assets/logo32x32.png" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=470,initial-scale=1" />

	<meta property="og:site_name" content="Fancy Things">
	<meta property="og:description" content="Welcome to Fancy Things! The number one guide to fashion, beauty, home decor, and more...">
	<!-- <meta property="og:url" content="http://mikel9286.github.io/FancythingsStaging"> -->
    <meta property="og:url" content="http://salty-refuge-8767.herokuapp.com/">
    <meta property="og:image" content="http://salty-refuge-8767.herokuapp.com/assets/logo250x250.png">
	<meta property="fb:app_id" content="339913236114724">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@fancythingsblog">
	<meta name="twitter:url" content="http://thefancythings.com">
	<meta name="twitter:title" content="Fancy Things">
	<meta name="twitter:description" content="Welcome to Fancy Things! The number one guide to fashion, beauty, home decor, and more...">
	<meta name="twitter:image" content="/assets/logo250x250.png">
	<meta name="twitter:creator" content="@fancythingsblog">

	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'Blogger' %>

	<%= stylesheet_link_tag 'bootstrap/_styles'%>

	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid" role="main">
		<%= render partial: 'shared/navbar' %>
		<%= yield %>
		<%= render partial: 'shared/footer' %>
	</div>
	
	<%= javascript_include_tag "main" %>	
</body>
</html>