<html>
<head>
	<title><%= @title %></title>
	<meta charset="utf-8N" />
	<meta http-equiv="Content-language" content="en">
	<meta name="author" content="Kristin Brophy" />
	<meta name="keywords" content="Fashion,Food,Beauty,Style,Home,Blog,Fancy,Life,Miami,South,Florida,FancyThings,TheFancyThings">
	<meta name="description" content="<%= @description %>">
	<link href="/assets/logo32x32.png" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="initial-scale=1" />

	
	<%= yield :head %>
</head>
<body>
	<div class="container-fluid" role="main">
		<%= render 'shared/navbar' %>
		<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
		<%= render 'shared/footer' %>
	</div>
</body>
</html>